body {
	background: #eee;
}
.canvas-list {
	display: flex;
	flex-direction: column;

}

@media (min-width: 640px) {
	.canvas-list {
		flex-direction: row;
	}
}

.canvas-box {
	flex: 1 1 auto;
}

.media {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.output-img {
	display: block;
	max-width: 100%;
	height: auto;
}